#pymntCalc{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    outline-style:groove;
    outline-color: rgba(21, 19, 163, 0.747);
}
#userInput{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    outline-style:groove;
    outline-color: rgba(21, 19, 163, 0.747);
    
}
.jumbotron {
background-color: dodgerblue;
}